.nav1
    display: flex
    justify-content: space-between
    align-items: center
    background: none
    padding: 10px 20px
    padding-left: 70px
    padding-right: 70px
    position: fixed
    z-index: 1000
    width: 100%
.div2-nav
    display: flex
    align-items: center
    gap: 20px
    font-size: 18px
    color: #fff
.logo
    font-family: Brush Script MT, cursive

    color: #fdc200
    text-decoration: none
    font-weight: bold
    &:hover
        color: #fff
        text-decoration: none
    
    
        
a
    color: white
    text-decoration: none
    &:hover
        color:  #fdc200
        


.logo
    color: white
.sec1
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    // background-color: #7796b4
    color: white
    font-size: 30px
    font-weight: bold
    text-align: center
    position: relative
.carouselExample
    width: 100%
    height: 100vh
.carousel-item
    width: 100%
    height: 100vh
.div1-car
    position: relative
    top: 40%
  
.pr-car
    width: 60%
    position: relative
    left: 20%
    top: 15px
    font-size: 20px
    font-weight: lighter
.tit1-car
    font-family: Brush Script MT, cursive
    font-size: 3.5vw
    font-weight: bold
.black-bg
    background-color: #00000061
    width: 100%
    height: 100vh
    position: absolute
.but1-car
    background: none
    border: 2px solid #fdc200
    border-radius: 20px
    color: #ffffff
    width: 150px
    height: 40px    
    font-size: 20px
    margin-top: 15px
    transition: all 0.3s ease-in-out
    margin-left: 10px

    &:hover
        background: #fdc200
        color: #ffffff
        transform: scale(1.1)
.sp1
    color: #fdc200
.sec2
    height: 550px
    display: flex
    align-items: conter
    justify-content: center
    background-color: #fffaf3
.tit1-ab
    font-family: Brush Script MT, cursive
.sec2-div1
    gap: 40px
    width: 85%
.tit1-ab
    font-size: 2.5vw
    font-weight: bold
    font-weight: lighter
    margin-top: -20px
.fn-f
    font-family: Brush Script MT, cursive
    font-size: 2.5vw
    color: black
.rela
    img
        width: 650px
        position: relative
        top: 35px
       
        
    a
     width: 70px
     height: 70px
     display: flex
     justify-content: center
     align-items: center
     background-color: #fdc200
     border-radius: 50%
     font-size: 20px
     color: white
     text-decoration: none
     margin-top: 20px
     position: relative
     top: -240px
     left: 44%
.div21-sec3
    background-color: #f9f9f9
    width: 400px
    height: 250px
    border-radius: 10px
    padding-left: 20px
    display: flex
    flex-direction: column
    justify-content: center
    padding-top: 40px
    cursor: pointer
    transition: all 0.5s ease-in-out
    &:hover
        background-color: #fdc200
        .sp1
            color: white
            position: relative
            top: -20px

        p
            color: white
            position: relative
            bottom: 20px
             

.div2-sec3
    display: flex
    justify-content: center
    align-items: center
    gap: 70px
    margin-top: 50px
    margin-bottom: 50px
    width: 100%
    height: 100%
   
.pr1-sec3
    font-size: 20px
    font-weight: lighter
    color: grey
.div1-sec3
    margin-top: 50px
.tit1-sec3
    color: #fdc200
    background-color: #f9e0bd
    width: 100px
    padding: 7px
    border-radius: 20px
    font-size: 15px
    position: relative
    left: 47%
.ddv
    
    display: flex
    justify-content: center
    align-items: center
    gap: 40px
    width: 100%

.div2-sec4
    width: 650px
        

.div21-sec5
    display: flex

.img-special
    width: 200px
    border-radius: 50%
    cursor: pointer
    transition: all 0.5s ease-in-out
    &:hover
        transform: scale(1.1)
.div-img
    width: fit-content
    margin-left: 15px
.dd
    width: 1000px
.div21-sec5
    width: 80%
    margin-top: 40px
    position: relative
    left: 10%
.nav-item
    
    a
        color: black
        &:hover
            color: #fdc200
        &:active
            color: #fdc200
.div1-sp
    padding-left: 20px
    border-left: 2px solid #dad8d7

.tit1-sec5
    position: relative
    left: -22px
    padding-left: 20px
    border-left: 2.5px solid #fdc200
.sec5
    padding-bottom: 50px
.sec6
    width: 100%
    height: 630px
    // background-color: #00000061
    display: flex   
    align-content: center
    justify-content: center
.black-bgg
    width: 100%
    height: 630px
    background-color: #000000b3
    position: absolute
#carouselExampleInterval
    width: 100%
.car2
    height: 630px
.rr
    margin-left: 11%
       
.sec6-div1
    margin-top: 5%
.tit1-sec6
    font-family: Brush Script MT, cursive
    color: white
    position: relative
    top: 35px
.cl
    color: white
.cll
    color: #fdc200
.tit2-sec6
    color: white
    font-size: 2vw
    border-bottom: 2px solid #fdc200
    width: fit-content
.tit1-sec66
    font-family: Brush Script MT, cursive
    color: white
    position: relative
    top: 17px
.tit1-sec7
    color: #fdc200
    background-color: #f9e0bd
    width: 130px
    padding: 7px
    border-radius: 20px
    font-size: 15px
    position: relative
    left: 46%
.sec7-div1
    display: flex
    width: 80%
    position: relative
    left: 10%
.book-div
    background-color: #b5b2b21c
    width: 100%
    border-radius: 0px 10px 10px 0px
    display: flex
    flex-direction: column
    justify-content: center
    padding-right: 15px
    padding-left: 15px
.row1
    display: flex
    width: 100%
    gap: 15px
    margin-top: 20px
.sec7-img
    width: 400px
    height: 500px
.div1-book
    position: relative
    top: -25px
.row2
    position: relative
    top: -20px
.but1-sec7
    width: 200px
    padding: 10px
    background-color: #eab300
    color: white
    border: none
    border-radius: 5px
    position: relative
    left: 35%
    font-size: 18px
    &:hover
        background-color: #eab300c7
        



   


     
 
        

        